<div class="container text-center">
    <div class="">
        Distribucion Ejemplo
    </div>
    <div class="d-flex justify-content-center my-3">
        <igx-item-legend
        orientation="Horizontal"
        name="Legend"
        #legend>
        </igx-item-legend>
    </div>
    <div class="d-flex justify-content-center">
        <igx-pie-chart
            [dataSource]="datos"
            valueMemberPath="valor"
            labelMemberPath="categoria"
            labelsPosition="BestFit"
            radiusFactor="1"
            [legend]="legend"
            name="chart"
            #chart
            chart
            class="grafico">
        ></igx-pie-chart>
    </div>
</div>
